<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>western</key>
	<array>
		<dict>
			<key>heading</key>
			<string>Orange County, CA</string>
			<key>name</key>
			<string>Orange County Market at a Glance</string>
			<key>title</key>
			<string>Office Market</string>
			<key>description</key>
			<string>2Q | 2015</string>
			<key>image</key>
			<string>Q2_2015_OC_cover.jpg</string>
			<key>pdf_file</key>
			<string>Q2_2015_OC.pdf</string>
			<key>pdf_link</key>
			<string>http://www.pmrg.com/media/pdfs/Q2_2014_OC_Office_Market_at_a_Glance.pdf</string>
		</dict>
		<dict>
			<key>heading</key>
			<string></string>
			<key>name</key>
			<string>Orange County Market at a Glance</string>
			<key>title</key>
			<string>Medical Office Market</string>
			<key>description</key>
			<string>2Q | 2015</string>
			<key>image</key>
			<string>Q2_2015_OC_MOB_cover.jpg</string>
			<key>pdf_file</key>
			<string>Q2_2015_OC_MOB.pdf</string>
			<key>pdf_link</key>
			<string>http://www.pmrg.com/media/pdfs/Q2_2014_OC_Medical_Office_Market_at_a_Glance.pdf</string>
		</dict>
		<dict>
			<key>heading</key>
			<string>Los Angeles, CA</string>
			<key>name</key>
			<string>Los Angeles Market at a Glance</string>
			<key>title</key>
			<string>Office Market</string>
			<key>description</key>
			<string>2Q | 2015</string>
			<key>image</key>
			<string>Q2_2015_LA_cover.jpg</string>
			<key>pdf_file</key>
			<string>Q2_2015_LA.pdf</string>
			<key>pdf_link</key>
			<string>http://www.pmrg.com/media/pdfs/Q2_2014_LA_Office_Market_At_A_Glance.pdf</string>
		</dict>
		<dict>
			<key>heading</key>
			<string></string>
			<key>name</key>
			<string>Los Angeles Market at a Glance</string>
			<key>title</key>
			<string>Medical Office Market</string>
			<key>description</key>
			<string>2Q | 2015</string>
			<key>image</key>
			<string>Q2_2015_LA_MOB_cover.jpg</string>
			<key>pdf_file</key>
			<string>Q2_2015_LA_MOB.pdf</string>
			<key>pdf_link</key>
			<string>http://www.pmrg.com/media/pdfs/Q2_2014_LA_Office_Market_At_A_Glance.pdf</string>
		</dict>
		<dict>
			<key>heading</key>
			<string>Inland Empire, CA</string>
			<key>name</key>
			<string>Inland Empire Market at a Glance</string>
			<key>title</key>
			<string>Office Market</string>
			<key>description</key>
			<string>2Q | 2015</string>
			<key>image</key>
			<string>Q2_2015_IE_cover.jpg</string>
			<key>pdf_file</key>
			<string>Q2_2015_IE.pdf</string>
			<key>pdf_link</key>
			<string>http://www.pmrg.com/media/pdfs/Q2_2014_IE_Office_Market_at_a_Glance.pdf</string>
		</dict>
		<dict>
			<key>heading</key>
			<string>San Diego, CA</string>
			<key>name</key>
			<string>San Diego Market at a Glance</string>
			<key>title</key>
			<string>Office Market</string>
			<key>description</key>
			<string>2Q | 2015</string>
			<key>image</key>
			<string>Q2_2015_SanDiego_cover.jpg</string>
			<key>pdf_file</key>
			<string>Q2_2015_SanDiego.pdf</string>
			<key>pdf_link</key>
			<string>http://www.pmrg.com/media/pdfs/Q2_2014_San_Diego_Office_Market_at_a_Glance.pdf</string>
		</dict>
	</array>
	<key>central</key>
	<array>
		<dict>
			<key>heading</key>
			<string>Houston, TX</string>
			<key>name</key>
			<string>Houston Market at a Glance</string>
			<key>title</key>
			<string>Office Market</string>
			<key>description</key>
			<string>2Q | 2015</string>
			<key>image</key>
			<string>Q2_2015_Houston_cover.jpg</string>
			<key>pdf_file</key>
			<string>Q2_2015_Houston.pdf</string>
			<key>pdf_link</key>
			<string>http://www.pmrg.com/media/pdfs/Q2_2014_Houston_Office_Market_at_a_Glance.pdf</string>
		</dict>
		<dict>
			<key>heading</key>
			<string>Dallas, TX</string>
			<key>name</key>
			<string>Dallas Market at a Glance</string>
			<key>title</key>
			<string>Office Market</string>
			<key>description</key>
			<string>2Q | 2015</string>
			<key>image</key>
			<string>Q2_2015_Dallas_cover.jpg</string>
			<key>pdf_file</key>
			<string>Q2_2015_Dallas.pdf</string>
			<key>pdf_link</key>
			<string>http://www.pmrg.com/media/pdfs/Q2_2014_Dallas_Office_Market_at_a_Glance.pdf</string>
		</dict>
	</array>
	<key>southeast</key>
	<array>
		<dict>
			<key>heading</key>
			<string>Atlanta, GA</string>
			<key>name</key>
			<string>Atlanta Market at a Glance</string>
			<key>title</key>
			<string>Office Market</string>
			<key>description</key>
			<string>2Q | 2015</string>
			<key>image</key>
			<string>Q2_2015_Atlanta_cover.jpg</string>
			<key>pdf_file</key>
			<string>Q2_2015_Atlanta.pdf</string>
			<key>pdf_link</key>
			<string>http://www.pmrg.com/media/pdfs/Q2_2014_Atlanta_Office_Market_at_a_Glance.pdf</string>
		</dict>
	</array>
	<key>northeast</key>
	<array>
		<dict>
			<key>heading</key>
			<string>Washington D.C.</string>
			<key>name</key>
			<string>Washington D.C. Market at a Glance</string>
			<key>title</key>
			<string>Office Market</string>
			<key>description</key>
			<string>2Q | 2015</string>
			<key>image</key>
			<string>Q2_2015_DC_cover.jpg</string>
			<key>pdf_file</key>
			<string>Q2_2015_DC.pdf</string>
			<key>pdf_link</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
