<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>2014</string>
		<key>description</key>
		<string>On behalf of a client, PM Realty Group acquires a 35-acre parcel of land in west Houston that will ultimately result in a mixed-use development valued at $1 billion.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>2013</string>
		<key>description</key>
		<string>PMRG begins construction on 2929 Weslayan, a 40-story, 393,500 square foot mixed-use project in Houston, Texas.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>2012</string>
		<key>description</key>
		<string>PMRG expands its industrial footprint by adding over 4 million square feet of industrial space across the east coast to its portfolio.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>2011</string>
		<key>description</key>
		<string>PMRG establishes offices in Charlotte, North Carolina and West Palm Beach, Florida to facilitate growth with existing clients.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>2010</string>
		<key>description</key>
		<string>PMRG begins construction on 1400 Hi Line, a 23-story, 340,000 square feet mixed-use project in Dallas, Texas.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>2009</string>
		<key>description</key>
		<string>PMRG establishes an office in Boston to service the 12 million square foot Hackman Capital Partners portfolio.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>2006</string>
		<key>description</key>
		<string>PMRG Development team breaks ground on The Heights at Park Lane in Dallas, a 2.5 million square foot mixed-use project. Combined with other development projects, PM Realty Group and partners have directed over $1.6 billion of development projects.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>2004</string>
		<key>description</key>
		<string>PMRG hits 150 million square foot benchmark for services provided to commercial and corporate clients.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>1998</string>
		<key>description</key>
		<string>Executive management team, with the backing of a major investment banking firm, completes an asset purchase of PM Realty Group, Ltd. PM Realty Group, LP (“PMRG”) emerges from the transaction. Executive management diversifies and expands the new company&apos;s service offerings to become a fully integrated property services company.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>1990</string>
		<key>description</key>
		<string>An investment group, led by Jupiter Realty Corporation, organizes a buyout and Property Management Systems emerges as PM Realty Group, Ltd.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>1970s to 1980s</string>
		<key>description</key>
		<string>Property Management Systems drastically expands into a national company during the real estate boom, acquiring numerous third-party assignments from pension funds, insurance companies, and institutional investors around the country.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>1974</string>
		<key>description</key>
		<string>Fletcher Emerson Company sells to Century Corporation. The company is renamed &quot;Property Management Systems&quot;.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>1954</string>
		<key>description</key>
		<string>Company founded by Fletcher Emerson to provide facility management services to Texas National Bank Building in Houston. One year later, the Company begins providing third-party services to other owners, soon employing over 110 people and providing management services to many buildings in the Houston area.</string>
	</dict>
</array>
</plist>
